@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?drhoao');
  src:  url('../fonts/icons.eot?drhoao#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?drhoao') format('truetype'),
    url('../fonts/icons.woff?drhoao') format('woff'),
    url('../fonts/icons.svg?drhoao#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-cv:before {
  content: "\e904";
}
._icon-fb:before {
  content: "\e900";
}
._icon-in:before {
  content: "\e901";
}
._icon-insta:before {
  content: "\e902";
}
._icon-viber:before {
  content: "\e903";
}
