@import "null", "fonts", "vars", "blocks";

body {
  background-color: $black;
  color: $white;
  font-family: $font;
}

.header {
  padding: 45px 0;
  font-weight: 600;
  margin-bottom: 108px;
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 30px;
  }

  &__title {
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    text-transform: capitalize;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #191903;
    font-size: 20px;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
  align-items: center;
  &__item {
    color: $white;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    transition: all 0.5s ease 0s;
    &:hover {
      color: $yellow;
    }
    &_big {
      color: $yellow;
      border: 2px solid $yellow;
      display: block;
      padding: 10px;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
  }
}

.burger {
  position: relative;
  right: 0;
  top: 0;
  display: none;
  width: 40px;
  height: 25px;
  z-index: 100;
  justify-self: end;

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $yellow;
    transition-duration: 0.3s;
  }

  *:nth-child(1) {top: 0;}
  *:nth-child(2) {top: 11px;}
  *:nth-child(3) {bottom: 0;}

  span:last-child {
    margin: 0;
  }

  &.active {
    *:nth-child(1) {
      transform: rotate(45deg);
      top: 11px;
    }

    *:nth-child(2) {
      display: none;
    }

    *:nth-child(3) {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }
}

.intro {
  margin-bottom: 140px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;  
  }

  &__content {
    flex: 0 0 55%;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(54 / 36 * 100%);
    margin-bottom: 10px;
  }

  &__title {
    font-size: 52px;
    line-height: calc(78 / 52 * 100%);
    font-weight: 600;
    margin-bottom: 10px;
    span {
      color: $yellow;
    }

  }

  &__text {
    color: $lightGrey;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    font-weight: 400;
    margin-bottom: 50px;
    p {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    span {
      display: inline-block;
      position: relative;
      font-weight: 500;
      font-size: 30px;
      line-height: calc(45 / 30 * 100%);
      margin-bottom: 55px;
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 76px;
        background-color: $lightGrey;
        left: 0;
        bottom: -35px;
        border-radius: 2px;
      }
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(203px, auto));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: start;
    a {
      text-align: center;
    }
  }

  &__cv {
    span {
      display: flex;
      align-items: center;
      margin-right: 12px;
    }
  }

  &__more {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    padding: 12px 20px;
    border: 1px solid $white;
    border-radius: 5px;
    color: $white;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &__img {
    position: relative;
    flex: 0 0 auto;
    *:nth-child(2) {
      top: -15px;
      right: 80px;
    }
    *:nth-child(3) {
      top: 0;
      right: 100px;
    }    
    *:nth-child(4) {
      top: 15px;
      right: 80px;
    }
    img {
      border-radius: 50% 35% 50% 45%;
      display: block;
      width: 100%;
      height: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      top: 16px;
      right: 13px;
      width: 100%;
      height: 100%;
      border-radius: 50% 35% 50% 45%;
      border: 1px solid $yellow;
    }
    span {
      display: block;
      position: absolute;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 5px;
        background-color: $yellow;
        border-radius: 10px;
      }
      &::after {
        content: '';
        transform: rotate(90deg);
      }
    }
  }
}

.projects {

  // &__inner {}

  &__title {
    font-size: 40px;
    line-height: calc(60 / 40 * 100%);
    color: $yellow;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 87px;
    position: relative;
    &:before {
      content: attr(data-before);
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $lightGrey;
      opacity: 0.1;
      font-size: 100px;
      letter-spacing: 20px;
      line-height: calc(300 / 200 * 100%);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 73px;
    margin-bottom: 80px;
  }

  &__btn {
    width: 206px;
    margin: 0 auto;
  }

  // &__project {}
}

.project {
  display: grid;
  grid-template-columns: minmax(200px, 623px) minmax(100px, 246px);
  grid-template-areas: 
    "img title"
    "img btn"
  ;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
  background-color: $grey;
  padding: 66px 10px 40px;
  border-radius: 20px;
  align-items: start;
  &__img {
    grid-area: img;
    img {
      max-width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(48 / 32 * 100%);
    span {
      color: $yellow;
    }
    grid-area: title;
    align-self: end;
    justify-self: start;
  }

  &__btn {
    grid-area: btn;
    align-self: start;
    justify-self: start;
  }
}


@media (max-width: 1148px) {
  .header {
    margin-bottom: 30px;
  }
  .intro {
    &__content {
      order: 2;
    }
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__subtitle, &__title  {
      text-align: center;
    }
    &__text {
      max-width: 619px;
      span {
        display: block;
        text-align: center;
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &__btns {
      justify-content: center;
    }
    &__img {
      margin-bottom: 30px;
      &:before {
        top: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: 930px) {
  .header__menu {
    &.active {
      top: 0;
    }
    padding: 60px 0 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.9);
    top: -100vh;
    left: 0;
    transition-duration: 0.5s;
    overflow: auto;
    >* {
      margin-bottom: 30px;
      margin-right: 0;
    }
    >*:last-child {
      margin-bottom: 0;
    }
    .menu {
      order: 1;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      row-gap: 40px;
      justify-items: center;
      margin-bottom: 20px;
    }
    .links {
      order: 2;
    }
  }

  .burger {
    display: block;
  }

  .projects {
    &__title {
      &:before {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .project {
    padding: 30px 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "img"
      "title"
      "btn"
    ;
    &__title {
      text-align: center;
      justify-self: center;
    }

    &__btn {
      justify-self: center;
    }
  }
}